In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import os

In [3]:
os.chdir('Documents/repos/geo')
os.listdir()

['.git',
 '.gitattributes',
 '.gitignore',
 '.idea',
 '.ipynb_checkpoints',
 'data',
 'img',
 'notebooks',
 'presentations',
 'README.md',
 'src',
 '__pycache__']

In [13]:
# column `pin` will be converted to dtype=category
# after records with NaN `consideration_amt` will be dropped
dtypes = {
    'decade': 'int',
    'year': 'int',
    'lro_num': 'category',
    'postal_code': 'category',
    'street_designation': 'category',
    'street_direction': 'category',
    'municipality': 'category',
    'da_id': 'category',
    'da_city': 'category',
}
drop_cols = 'Unnamed: 0'
t = time.time()
teranet_path = 'data/HHSaleHistory_cleaned_v0.9_GTHA_DA_with_cols_v0.9.csv'
df = pd.read_csv(teranet_path,
                 dtype=dtypes,
                 parse_dates=['registration_date'])
df = df.drop(drop_cols, axis=1)
df = df.sort_values('registration_date')
elapsed = time.time() - t
print("----- DataFrame with Teranet records loaded"
      "\nin {0:.2f} seconds".format(elapsed) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(df.shape[0], df.shape[1]) + 
      "\n-- Column names:\n", df.columns)

----- DataFrame with Teranet records loaded
in 32.62 seconds
with 4,637,584 rows
and 30 columns
-- Column names:
 Index(['registration_date', 'decade', 'year', 'lro_num', 'pin',
       'consideration_amt', 'postal_code', 'unitno', 'street_name',
       'street_designation', 'street_direction', 'municipality',
       'street_number', 'x', 'y', 'da_id', 'da_city', 'da_median_tot_inc',
       'xy', 'total_sales_pin', 'pin_total_sales', 'xy_total_sales',
       'pin_prev_sales', 'xy_prev_sales', 'pin_price_cum_sum',
       'xy_price_cum_sum', 'pin_price_pct_change', 'xy_price_pct_change',
       'pin_years_since_last_sale', 'xy_years_since_last_sale'],
      dtype='object')

In [12]:
df.head()

,Unnamed: 0,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,unitno,street_name,...,pin_total_sales,xy_total_sales,pin_prev_sales,xy_prev_sales,pin_price_cum_sum,xy_price_cum_sum,pin_price_pct_change,xy_price_pct_change,pin_years_since_last_sale,xy_years_since_last_sale
0,0,1986-07-09,198,1986,65,29000001,185000.0,L3P6K5,NaN,Cairns,...,NaN,NaN,1,1,185000.0,185000.0,NaN,NaN,NaN,NaN
1,1,1986-04-14,198,1986,65,29000002,171000.0,L3P6K5,NaN,Cairns,...,NaN,NaN,1,1,171000.0,171000.0,NaN,NaN,NaN,NaN
2,2,1988-09-09,198,1988,65,29000003,318000.0,L3P6K5,NaN,Cairns,...,NaN,NaN,1,1,318000.0,318000.0,NaN,NaN,NaN,NaN
3,3,1999-01-29,199,1999,65,29000003,273000.0,L3P6K5,NaN,Cairns,...,NaN,NaN,2,2,591000.0,591000.0,-0.141509,-0.141509,10.394521,10.394521
4,4,2011-02-18,201,2011,65,29000003,558000.0,L3P6K5,NaN,Cairns,...,NaN,NaN,3,3,1149000.0,1149000.0,1.043956,1.043956,12.063014,12.063014