# GTHA housing market database
# OSEMN methodology Step 2: Scrub
# Data quality issues discovered in the Teranet dataset

---

This notebook presents examples of data quality issues discovered in the Teranet dataset.

Previous steps included: 

* Step 2.1 

    * the spatial join between the Teranet points and the polygons of GTHA Dissemination Areas (DAs)
    
    * During step 2.1, Teranet records whose coordinates fall outside of the GTHA boundary (as defined by the DA geometry) have been filtered out (6,803,691 of the original 9,039,241 Teranet records remain in the dataset)
     
    * In addition to that, three new columns (`OBJECTID`, `DAUID`, and `CSDNAME`) derived from DA attributes have been added to each Teranet transaction

---

## Import dependencies

In [1]:
import pandas as pd
import os
from time import time

## Multiple transactions

In [2]:
data_path = '../../data/teranet/'
os.listdir(data_path)

['Teranet_with_DA_cols.csv', 'HHSaleHistory.csv']

## Load Teranet data

In [3]:
t = time()
#df = pd.read_csv(data_path + 'Teranet_with_DA_cols.csv',
#                 parse_dates=['registration_date'])
df = pd.read_csv(data_path + 'Teranet_with_DA_cols.csv')
elapsed = time() - t
print("----- DataFrame loaded"
      "\nin {0:.2f} seconds".format(elapsed) + 
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(df.shape[0], df.shape[1]) + 
      "\n-- Column names:\n", df.columns)

/home/stepan/anaconda3/envs/gds/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

----- DataFrame loaded
in 20.37 seconds
with 6,803,691 rows
and 18 columns
-- Column names:
 Index(['lro_num', 'pin', 'consideration_amt', 'registration_date',
       'POSTAL_CODE', 'PROVINCE', 'UNITNO', 'STREET_NAME',
       'STREET_DESIGNATION', 'STREET_DIRECTION', 'MUNICIPALITY',
       'STREET_SUFFIX', 'STREET_NUMBER', 'X', 'Y', 'OBJECTID', 'DAUID',
       'CSDNAME'],
      dtype='object')

In [4]:
df.columns = df.columns.str.lower()
df.columns

Index(['lro_num', 'pin', 'consideration_amt', 'registration_date',
       'postal_code', 'province', 'unitno', 'street_name',
       'street_designation', 'street_direction', 'municipality',
       'street_suffix', 'street_number', 'x', 'y', 'objectid', 'dauid',
       'csdname'],
      dtype='object')

In [7]:
df['price'] = df['consideration_amt'].apply(lambda x: '{:,}'.format(x))

## Multiple transactions
There is a number of ways in which multiple transactions can be recorded in the Teranet dataset.

In [9]:
mask1 = df['pin'] == 248580237
df.loc[mask1, ['pin', 'registration_date', 'price', 'unitno', 
               'street_name', 'street_designation', 'municipality', 'y', 'x']]\
    .sort_values('registration_date')

,pin,registration_date,price,unitno,street_name,street_designation,municipality,y,x
163593,248580237,12/22/2011 0:00:00,"5,439,000.0",NaN,",3525,3535 & 3545 REBECCA STREET",NaN,OAKVILLE,43.383163,-79.737999
163478,248580237,5/2/2016 0:00:00,"10,504,865.0",NaN,",3525,3535 & 3545 REBECCA STREET",NaN,OAKVILLE,43.383163,-79.737999
163485,248580237,6/29/2017 0:00:00,2.0,NaN,",3525,3535 & 3545 REBECCA STREET",NaN,OAKVILLE,43.383163,-79.737999

In [6]:
mask1 = df['pin'] == 32063841
df.loc[mask1, ['pin', 'registration_date', 'price', 'unitno', 
               'street_name', 'street_designation', 'municipality', 'y', 'x']]\
    .sort_values('registration_date')

/home/stepan/anaconda3/envs/gds/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,pin,registration_date,price,unitno,street_name,street_designation,municipality,y,x
811529,32063841,8/23/2016 0:00:00,NaN,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL,43.943214,-79.465033
811530,32063841,8/23/2016 0:00:00,NaN,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL,43.943214,-79.465033
811531,32063841,8/23/2016 0:00:00,NaN,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL,43.943214,-79.465033
811532,32063841,8/23/2016 0:00:00,NaN,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL,43.943214,-79.465033
811533,32063841,8/23/2016 0:00:00,NaN,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL,43.943214,-79.465033
811534,32063841,8/23/2016 0:00:00,NaN,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL,43.943214,-79.465033
811535,32063841,8/23/2016 0:00:00,NaN,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL,43.943214,-79.465033

In [10]:
mask1 = df['street_name'].str.contains('&', na=False)
df.loc[mask1, ['pin', 'registration_date', 'unitno', 'street_name', 'street_designation', 'municipality']]

,pin,registration_date,unitno,street_name,street_designation,municipality
121142,250590032,6/7/1989 0:00:00,NaN,& 239 ARMSTRONG AVENUE,NaN,HALTON HILLS
121154,250590032,3/22/1993 0:00:00,NaN,& 239 ARMSTRONG AVENUE,NaN,HALTON HILLS
122722,250590032,10/7/2016 0:00:00,NaN,& 239 ARMSTRONG AVENUE,NaN,HALTON HILLS
122843,250590032,6/22/2017 0:00:00,NaN,& 239 ARMSTRONG AVENUE,NaN,HALTON HILLS
163478,248580237,5/2/2016 0:00:00,NaN,",3525,3535 & 3545 REBECCA STREET",NaN,OAKVILLE
163485,248580237,6/29/2017 0:00:00,NaN,",3525,3535 & 3545 REBECCA STREET",NaN,OAKVILLE
163593,248580237,12/22/2011 0:00:00,NaN,",3525,3535 & 3545 REBECCA STREET",NaN,OAKVILLE
421658,134130101,9/29/2008 0:00:00,NaN,"& 3450 RIDGEWAY DR., 3715 LAIRD RO",NaN,MISSISSAUGA
421775,134130101,1/15/2013 0:00:00,NaN,"& 3450 RIDGEWAY DR., 3715 LAIRD RO",NaN,MISSISSAUGA
691581,210180481,7/31/2009 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691582,210180482,7/31/2009 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691583,210180483,7/31/2009 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691584,210180484,7/31/2009 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691585,210180485,7/31/2009 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691699,210180482,3/17/2017 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691702,210180483,3/17/2017 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691703,210180481,3/17/2017 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691704,210180484,3/17/2017 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
691706,210180485,3/17/2017 0:00:00,NaN,& 332 REAR LEE AVENUE,NaN,TORONTO
811529,32063841,8/23/2016 0:00:00,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL
811530,32063841,8/23/2016 0:00:00,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL
811531,32063841,8/23/2016 0:00:00,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL
811532,32063841,8/23/2016 0:00:00,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL
811533,32063841,8/23/2016 0:00:00,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL
811534,32063841,8/23/2016 0:00:00,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL
811535,32063841,8/23/2016 0:00:00,NaN,- 298 KING ST. & 4 - 8 PARKER AVEN,NaN,RICHMOND HILL
1132796,104340549,6/30/1997 0:00:00,NaN,-69 & 75 EASTDALE & 2-24 GOODWOOD,AVE,TORONTO
1171367,33540039,9/15/1978 0:00:00,NaN,& 13056 HIGHWAY 27,NaN,KING CITY
1171368,33540039,12/8/1978 0:00:00,NaN,& 13056 HIGHWAY 27,NaN,KING CITY
1171369,33540039,12/8/1978 0:00:00,NaN,& 13056 HIGHWAY 27,NaN,KING CITY
...,...,...,...,...,...,...
5595675,32270060,1/24/1995 0:00:00,NaN,& 55 WINGES RD/155 ROWNTREE DAIRY,NaN,VAUGHAN
5595968,32270060,10/27/1997 0:00:00,NaN,& 55 WINGES RD/155 ROWNTREE DAIRY,NaN,VAUGHAN
5596161,32270060,11/26/1999 0:00:00,NaN,& 55 WINGES RD/155 ROWNTREE DAIRY,NaN,VAUGHAN
5596198,32270060,4/3/2000 0:00:00,NaN,& 55 WINGES RD/155 ROWNTREE DAIRY,NaN,VAUGHAN
5597313,32280177,3/30/1998 0:00:00,NaN,WESTON ROAD & 10-20 COLOSSUS DRIVE,NaN,VAUGHAN
5597466,32270060,11/30/2007 0:00:00,NaN,& 55 WINGES RD/155 ROWNTREE DAIRY,NaN,VAUGHAN
5598013,32270060,6/3/2015 0:00:00,NaN,& 55 WINGES RD/155 ROWNTREE DAIRY,NaN,VAUGHAN
5666503,29830100,5/24/1985 0:00:00,NaN,& 3828 HIGHWAY 7,NaN,MARKHAM
5679697,134200057,1/3/2006 0:00:00,NaN,RIDGEWAY DR & 3145 DUNDAS ST WEST,NaN,MISSISSAUGA
5717523,132860166,8/10/1999 0:00:00,NaN,6300 EDWARDS BLVD. & 100 WORLD DRI,NaN,MISSISSAUGA
5717524,132860108,8/10/1999 0:00:00,NaN,6300 EDWARDS BLVD. & 100 WORLD DRI,NaN,INGLEWOOD
5717525,132860107,8/10/1999 0:00:00,NaN,6300 EDWARDS BLVD. & 100 WORLD DRI,NaN,MISSISSAUGA
5717526,132860106,8/10/1999 0:00:00,NaN,6300 EDWARDS BLVD. & 100 WORLD DRI,NaN,MISSISSAUGA
5717696,132860108,11/17/1986 0:00:00,NaN,6300 EDWARDS BLVD. & 100 WORLD DRI,NaN,INGLEWOOD
5717697,132860106,11/17/1986 0:00:00,NaN,6300 EDWARDS BLVD. & 100 WORLD DRI,NaN,MISSISSAUGA
5717700,132860107,11/17/1986 0:00:00,NaN,6300 EDWARDS BLVD. & 100 WORLD DRI,NaN,MISSISSAUGA
5718209,132860167,4/18/2002 0:00:00,NaN,EDWARDS BLVD. & 275 PENDANT DRIVE,DR,MISSISSAUGA
5718585,140291349,4/16/2003 0:00:00,NaN,EXPORT BLVD. & 7045 BECKETT STREET,NaN,MISSISSAUGA
5904545,31450324,5/12/1989 0:00:00,NaN,& 35 MARSHALL STREET,ST,RICHMOND HILL
5937839,132140099,7/16/1997 0:00:00,NaN,MCLAUGHLIN RD/6060&6090 WHITE HART,NaN,MISSISSAUGA
6593628,134360390,6/17/1999 0:00:00,NaN,", 2125 WISEMAN CRT & 1265 LUDBROOK",NaN,MISSISSAUGA
6593629,134360390,6/17/1999 0:00:00,NaN,", 2125 WISEMAN CRT & 1265 LUDBROOK",NaN,MISSISSAUGA
6593824,134360390,12/13/1985 0:00:00,NaN,", 2125 WISEMAN CRT & 1265 LUDBROOK",NaN,MISSISSAUGA
6593868,134360390,4/30/1969 0:00:00,NaN,", 2125 WISEMAN CRT & 1265 LUDBROOK",NaN,MISSISSAUGA
6595244,134270007,8/14/2013 0:00:00,NaN,& 2695 NORTH SHERIDAN WAY,NaN,MISSISSAUGA
6595372,134270007,5/1/2001 0:00:00,NaN,& 2695 NORTH SHERIDAN WAY,NaN,MISSISSAUGA
6595430,134270007,3/3/1995 0:00:00,NaN,& 2695 NORTH SHERIDAN WAY,NaN,MISSISSAUGA
6616885,133310206,12/9/2008 0:00:00,NaN,& 1867 BLOOR STREET,ST,MISSISSAUGA
6731745,101320128,4/29/1983 0:00:00,NaN,& 1780 EGLINTON AVENUE EAST,NaN,TORONTO
6790318,184800450,1/28/2013 0:00:00,NaN,WELLINGTON ST & 50 CATHCART STREET,NaN,HAMILTON